.searchResult {
	display: flex;
	position: relative;
	margin: 20px;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
	transition: 200ms ease-in-out;

	&:hover {
		opacity: 0.8;
	}

	> img {
		height: 200px;
		width: 350px;
		border-radius: 10px;
		overflow: hidden;
	}
}

.searchResult__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
}

.searchResult__heart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 2.5rem;
	position: absolute;
	top: 20px;
	right: 40px;
}

.searchResult__infoTop {
	width: 40vw;

	> h3 {
		font-weight: 500;
		margin-top: 10px;
	}
	> p {
		margin-top: 10px;
		font-size: 13px;
		color: gray;
	}
}

.searchResult__infoBottom {
	display: flex;
	justify-content: space-between;
}

.searchResult__star {
	color: #dc004e;
}

.searchResult__stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 3.3rem;
}

.searchResult__price {
	position: absolute;
	bottom: 20px;
	right: 30px;
}
