.signin {
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signin__form {
	width: 100%;
	margin-top: 1rem;
}

.signinForm__submitArea {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
    margin-top: 1rem;
}

.submit {
	flex: 0.4;
}

.form__moreOption {
	display: flex;
	justify-content: space-around;
	align-self: center;
}

.form__redirect,
.form__forgot {
	padding: 1.5rem 0 !important;
	cursor: pointer;
	display: flex;
	justify-content: center;
}
